.container{
    margin: 10px 0;
}

.card {
    margin : 2% 2% !important;
}
.infected{
    border-bottom: 10px solid  ;
    border-image-source:linear-gradient(to left, #e0c3fc 0%, #8ec5fc 100%);
    border-image-slice: 1 !important;
} 
.recoverd{
    border-bottom: 10px solid  ;
    border-image-source: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-image-slice: 1 !important;
}
.dead{
    border-bottom: 10px solid  ;
    border-image-source: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    border-image-slice: 1 !important;
}